<!DOCTYPE html>
<html>
<head>
    <title>Assets</title>
    <style>
        /* Apply CSS style to align text to the top of the table cell */
        td.top-align {
          vertical-align: top;
        }
     </style>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Location</th>
                <th>Tags</th>
                <th>Notes</th>
                <th>Images</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in assets %}
            <tr>
                <td class="top-align">{{ asset['Asset ID'] }}</td>
                <td class="top-align">{{ asset['Location'] }}</td>
                <td class="top-align">{{ asset['Tags'] }}</td>
                <td class="top-align">{{ asset['Notes'] }}</td>
                <td>
                {% for image in asset['images'] %}
                    <a href="{{ image['Image'] }}" target="_blank"><img src="{{ image['Image'] }}" width="400"></a>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>